@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$layoutfont: 'Lato', sans-serif;

body {
  font-family: $layoutfont;
  font-weight: 200;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .row { 
    overflow: hidden;
    padding: 0 20px;
  }
}

.hero {
  background: url('http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  &:before {
    content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		opacity: .8; 
  }
  .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    color: #FFF;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
	font-family: $layoutfont;
  }
  h2 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
	font-family: $layoutfont;
  }
  .tech-img {
    background: url('http://emily.technology/headshot.jpg') no-repeat center center;
    background-size: cover;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
  @media only screen and (min-width: 40.063em) {
    .tech-img {
      height: 18rem;
      width: 18rem;
    }
    h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem;
	  font-family: $layoutfont;
    }
    h2 {
      text-align: right;
    }
    p {
      text-align: right;
    }
  }
}
.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}

.box-icon {
  background-color: #569;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem;
  span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.info {
  h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    color: #000000;
    font-size: 16px;
    padding-top: 10px;
  }
  a {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s;
  	&:hover {
    	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    	transition: all 0.5s ease 0s;
    }
  }
}

.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 2rem 0;
  background-color: #fff;
  img {
    width: 8rem;
    display: block;
    margin: 2rem auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #888888;
  }
  .profile-info {
    padding: 1rem;
    h4 {
      margin-top: 0;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      text-align: center;
    }
    .inline-list {
      text-align: center;
      margin-bottom: 1rem;
      li {
        float: none;
        display: inline-block;
      }
      i.fi-social-facebook {
        font-size: 1.5rem;
        color: #3b5998;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-twitter {
        font-size: 1.5rem;
        color: #55acee;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-linkedin {
        font-size: 1.5rem;
        color: #0077b5;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-github {
        font-size: 1.5rem;
        color: #333;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }
      i.fi-social-youtube {
        font-size: 1.5rem;
        color: #cc181e;
        &:hover {
          transform: scale(1.5);
          transition: all .5s ease-in-out;
        }
      }  
    }
  }
} 
.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  background-color: #ea417c;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}